{% extends "layout.html" %}
{% block body %}

<script>
    async function atualizarOpcoes()
    {
        let categoria=document.getElementById("id_utilizador").value;
        let resposta=await fetch("http://127.0.0.1:5000/get_animais?id_utilizador="+categoria);
        let opcoes=await resposta.json();
        let select_opcoes=document.getElementById("id_animal");
        select_opcoes.innerHTML="";
        for(let i=0;i<opcoes.length;i++)
        {
            let novo=document.createElement("option");
            novo.value=opcoes[i][0];
            novo.text=opcoes[i][1];
            select_opcoes.appendChild(novo);
        }
    }
</script>

<h1>Marcar consulta</h1>
<form action="/Consultas/marcar" method="post" >
   {% if "perfil" in session and session["perfil"]=='admin' %}
    <div class="form-group row">
            <label class="form-label" for="cliente">Cliente:</label>
            <select  class="form-select" name="id_utilizador" id="id_utilizador" onchange="atualizarOpcoes()">
                {% for utilizador in utilizadores %}
                <option value="{{ utilizador.id }}">{{ utilizador.nome }}</option>
                {% endfor %}
            </select>
        </div>
    {% else %}
        <input type="hidden" name="id_utilizador" id="id_utilizador" value="{{ session['id'] }}">
        <script>
            atualizarOpcoes();
        </script>
    {% endif %}
    <br>
    <div class="form-group row">
        <label class="form-label" for="id_animal">Animal:</label>
        <select  class="form-select" name="id_animal" id="id_animal"></select>
    </div>
    <br>
    <div class="form-group row">
        <label class="form-label" for="data_realizacao">Data da Consulta:</label>
        <input class="form-control" type="date" name="data_realizacao" required>
    </div>
    <br>
    <div class="form-group row">
        <label class="form-label" for="resumo">Razão:</label>
        <input class="form-control" type="text" name="resumo" placeholder="Indique a razão da consulta" required>
    </div>
    <br>
    <input class="btn btn-lg btn-danger" type="submit" value="Marcar">
    <br>
    {{ mensagem }}
</form>
{% endblock %}