{% extends "layout.html" %}
{% block body %}

<h1>Registo de animal novo</h1>
<form action="/Animais/adicionar" method="post" enctype="multipart/form-data">
    <div class="form-group row">
        <label class="form-label" for="nome">Nome:</label>
        <input class="form-control" type="text" name="nome" placeholder="Nome do animal">
    </div>
    <br>
    <div class="form-group row">
        <label class="form-label" for="especie">Espécie:</label>
        <input class="form-control" type="text" name="especie" placeholder="Espécie do animal" required>
    </div>
    <br>
    <div class="form-group row">
        <label class="form-label" for="raca">Raça:</label>
        <input class="form-control" type="text" name="raca" placeholder="Raça do animal">
    </div>
    <br>
    <div class="form-group row">
        <label class="form-label" for="idade">Idade:</label>
        <input class="form-control" type="number" name="idade" min="0" max="150">
    </div>
    <br>
    <div class="form-group row">
        <label class="form-label" for="data_nasc">Data de Nascimento:</label>
        <input class="form-control" type="date" name="data_nasc">
    </div>
    <br>
    <div class="form-group row">
        <label class="form-label" for="peso">Peso:</label>
        <input class="form-control" type="number" name="peso" min="0" max="100">
    </div>
    <br>
    <div class="form-group row">
        <label class="form-label" for="genero">Género:</label>
        <select class="form-select" name="genero">
            <option value="f">Feminino</option>
            <option value="m">Masculino</option>
        </select>
    </div>
    <br>
    <div class="form-group row">
        <label class="form-label" for="id_utilizador">Dono:</label>
        <select class="form-select" name="id_utilizador">
            {% for utilizador in utilizadores %}
            <option value="{{ utilizador.id }}">{{ utilizador.nome }}</option>
            {% endfor %}
        </select>
    </div>
    <br>
    <input class="form-control" type="file" name="fotografia">
    <br>
    <input class="btn btn-lg btn-danger" type="submit" value="Adicionar">
    <br>
    {{ mensagem }}
</form>
{% endblock %}