{% extends "layout.html" %}
{% block body %}

<h1>Apagar animal</h1>
<form action="/Animais/apagar_confirmado" method="post">
    <input type="hidden" name="id" value="{{ animal['id'] }}">
    <div class="form-group row">
        <label class="form-label" for="nome">Nome: {{ animal['nome'] }}</label>
    </div>
    <br>
    <div class="form-group row">
        <label class="form-label" for="email">Raça: {{ animal['raca'] }}</label>
    </div>
    <br>
    <input class="btn btn-lg btn-danger" type="submit" value="Apagar">
    <br>
    {{ mensagem }}
</form>
{% endblock %}