{% extends "layout.html" %}
{% block body %}
<script>
    function RecuperarPassword()
    {
        email=document.getElementById("email").value;
        if (email=="")
        {
            alert("Por favor, insira o email.");
            return;
        }
        window.location.href="/recuperar_password?email="+email;
    }
</script>
<!--Se utilizador estiver logado esconder-->
{% if "email" not in session or session["email"]==None %}
<div class="div_login">
    <form action="/Login" method="post">
        <h1>Login</h1>
        Email:
        <input class="form-control" type="email" name="email" id="email" required>
        <br>
        Palavra passe:
        <input class="form-control" type="password" name="password" required>
        <br>
        <input class="btn btn-primary btn-lg" type="submit" value="Login">
        <br>
    </form>
    {% if mensagem!=null %}
        <button class="btn btn-danger btn-lg" onclick="RecuperarPassword()">Recuperar password</button>
        <label class="alert alert-danger">
            {{ mensagem }}
        </label>
    {% endif %}
</div>
{% endif %}

{% if "email" in session and session["perfil"]=='admin' %}
    <h1>Consultas do dia</h1>
    <table class="table">
        <thead>
            <tr>
                <th>id_utilizador</th>
                <th>id_animal</th>
                <th>Data Consulta</th>
                <th>Data Marcação</th>
                <th>Estado</th>
                <th>Razão</th>
            </tr>
        </thead>
        <tbody>
        {% for registo in registos %}
            <tr>
                <td>{{ registo["id_utilizador"] }}</td>
                <td>{{ registo["id_animal"] }}</td>
                <td>{{ registo["data_realizacao"] }}</td>
                <td>{{ registo["data_marcacao"] }}</td>
                <td>{{ registo["estado"] }}</td>
                <td>{{ registo["resumo"] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}

{% if "email" in session and session["perfil"]!='admin' %}
    <h1>Minhas consultas</h1>
    <table class="table">
        <thead>
            <tr>
                <th>id_utilizador</th>
                <th>id_animal</th>
                <th>Data Consulta</th>
                <th>Data Marcação</th>
                <th>Estado</th>
                <th>Razão</th>
            </tr>
        </thead>
        <tbody>
        {% for registo in registos %}
            <tr>
                <td>{{ registo["id_utilizador"] }}</td>
                <td>{{ registo["id_animal"] }}</td>
                <td>{{ registo["data_realizacao"] }}</td>
                <td>{{ registo["data_marcacao"] }}</td>
                <td>{{ registo["estado"] }}</td>
                <td>{{ registo["resumo"] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}


{% endblock %}